$bg-color: #59bfff;
$full-page: 100%;
$full-transition: 1s;
$partial-transition: 0.4s;
$large-font: 36px;

html,body {
  scroll-behavior: smooth;
  background-color: $bg-color;
  margin: 0;
}

@keyframes slideinright {
  from {
    margin-right: $full-page;
    width: 300%;
  }

  to {
    margin-right: 0%;
    width: $full-page;
  }
}

.rings {
  padding-right: 15px;
}

#navbar {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  font-size: 25px;
  transition: $partial-transition;
  position: fixed;
  width: $full-page;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;

  a {
    float: left;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    line-height: 40px;
    border-radius: 4px;
  }

  a:hover {
    background-color: #ddd;
  }
}

.active {
  background-color: $bg-color;
}

.home-left {
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: slideinright;
  animation-duration: 3s;
  position: relative;
  height: 75vh;
}

.home-left::before {
  content: "";
  background-image: url('../assets/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 30%;
}

.padded-text {
  padding-left: 10px;
  padding-right: 10px;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 25px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    th, td {
        padding: 5px 5px;
    }
    tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }
}

.slideshow-container {
  position: relative;
  margin: auto;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.15);
  padding-bottom: 20px;
}

.back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-size: $large-font;
  transition: $partial-transition ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

.back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}

.frame {
  width: 560px;
  height: auto;
}

.caption {
  padding: 10px 14px;
  position: absolute;
  bottom: -5px;
  width: $full-page;
  text-align: center;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.white {
  background-color: white;
}

.item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  animation: slideinright;
  animation-duration: 3s;
  padding-bottom: 25px;
}

.sub-item {
  min-width: 200px;
  max-width: 500px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.first {
  background-color: #FFD700;
}

.second {
  background-color: #C0C0C0;
}

.third {
  background-color: #CD7F32;
}

h1 {
  font-size: 52px;
}

h2 {
  font-size: $large-font;
  text-align: center;
  padding-top: 10px;
}

button {
  background-color:#A8A9AD;
  border: none;
  padding: 15px 15px;
  text-align: center;
  border-radius: 5px;
  transition-duration: $partial-transition;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

button:hover {
  background-color: #000000;
  color: white;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: $full-page;
  height: $full-page;
  overflow: auto;
  transition: $full-transition;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.modal-content {
  background-color: #f1f1f1;
  text-align: center;
  margin: 10% auto;
  border: 1px solid $bg-color;
  width: 48%;
  transition: $full-transition;
}

.center-table {
  margin-left: auto;
  margin-right: auto;
}

.close {
  color: #aaa;
  float: right;
  padding-top: 12px;
  padding-right: 18px;
  font-size: $large-font;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}

.top-scroll {
    cursor: pointer;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.footer {
  text-align: center;
  color: black;
}
