html,body {
  scroll-behavior: smooth;
  background-color: #59bfff;
  margin: 0;
}

@keyframes slideinright {
  from {
    margin-right: 100%;
    width: 300%;
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}

@keyframes slideinleft {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.rings {
  padding-right: 15px;
}

#navbar {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  font-size: 25px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
}

#navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  line-height: 40px;
  border-radius: 4px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

.home-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-left {
  animation-name: slideinright;
  animation-duration: 3s;
  position: relative;
  height: 75vh;
}

.home-left::before {
  content: "";
  background-image: url('../assets/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 30%;
}

.padded-text {
  padding-left: 10px;
  padding-right: 10px;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 25px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 5px 5px;
}

.styled-table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.slideshow-container {
  position: relative;
  margin: auto;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.15);
  padding-bottom: 20px;
}

.back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

.back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}

.frame {
  width: 560px;
  height: auto;
}

.caption {
  padding: 10px 14px;
  position: absolute;
  bottom: -5px;
  width: 100%;
  text-align: center;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.white {
  background-color: white;
}

.item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  animation: slideinright;
  animation-duration: 3s;
  padding-bottom: 25px;
}

.sub-item {
  min-width: 200px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.first {
  background-color: #FFD700;
}

.second {
  background-color: #C0C0C0;
}

.third {
  background-color: #CD7F32;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transition: 1s;
}

h1 {
  font-size: 52px;
}

h2 {
  font-size: 36px;
  text-align: center;
  padding-top: 10px;
}

button {
  background-color:#A8A9AD;
  border: none;
  padding: 15px 15px;
  text-align: center;
  border-radius: 5px;
  transition-duration: 0.4s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

button:hover {
  background-color: #000000;
  color: white;
}

.modal-content {
  background-color: #fefefe;
  text-align: center;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #59bfff;
  width: 50%;
  transition: 1s;
}

.center-table {
  margin-left: auto;
  margin-right: auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.top-scroll {
    cursor: pointer;
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
}

.footer {
  text-align: center;
  color: black;
}
